.about--container {
    padding-top   : 4rem;
    padding-bottom: 4rem;
}

.about--container p {
    text-align: justify;
}

.about--container .row {
    padding-top   : 1rem;
    padding-bottom: 1rem;
}

.about--container .col-12 {
    padding-top   : 0.5rem;
    padding-bottom: 0.5rem;
}

.about--container img {
    width: 200px;
}
