.register--container {
    padding-top   : 4rem;
    padding-bottom: 4rem;
}

.register--container .row {
    padding-top   : 1rem;
    padding-bottom: 1rem;
}

.register--container p {
    text-align: justify;
}

.register--container .form-group {
    padding-top: 0;
}